body{
    margin: 0;
    padding: 0;
}
.content{
    background-color: lightgrey;
    box-shadow: 20px 10px 40px white,grey;
    
}
.content img {
    width: 100%;
    height: 200px;
   border-radius: 5px;
   
}
.display{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
   
   
}
.image img{
    width: 450px;
    height: 322px;
}